.row{
	margin: 0px;
}
.h1{
    font-style: inherit;
	font-size: 20px;
	background-color:yellow;
	margin-left: 25%;
	margin-right: 25%;
}
.h1:hover{
	 font-style: inherit;
	font-size: 20px;
	background-color:red;
	margin-left: 25%;
	margin-right: 25%;
	color: white;

}
.h3:hover{ 
	font-style: initial;
	font-size: 30px;
	border: 1px solid black;
	width: 60%;
	top: 0px;
	position: absolute;
	background-color:pink;
	margin-left: 20%;
	margin-top: 10px;
	opacity: 0.4;
	transform:skew(1deg, 1deg);
	color: red;
	transition: 3s;
}

.parent1{
	width: 100%;
	height: 500px;
	position: relative;
}
.h2{
	height: 409px;
	width: 60%;
	margin-left: 20%;
	margin-top: 10px;
}
.h3{
	
	font-style: initial;
	font-size: 30px;
	border: 1px solid black;
	width: 60%;
	top: 0px;
	position: absolute;
	background-color:grey;
	margin-left: 20%;
	margin-top: 10px;
	opacity: 0.4;


}
.parent{
	width: 100%;
}
.kk{
	font-size: 10px;
	font-style: italic;
	background-color: red;
	text-align: center;
	margin-top: 0px;
}
.pp{
	border-bottom: 1px solid black;
	background-color: green;
	font-size: 20px;
	text-align: center;
	font-style: italic;
	margin: 0px;
}
.pp p{
	margin: 0px;
}
.ppp{
	margin-bottom: 10px;
}
.pp:hover{
	transform: skew(2deg,2deg);
	color: white;
	background-color: yellow;
	font-style: bold;
	font-size: 40px;
	transform: scaleX(1.5);
	transform: translateX(2);
	transition: 1s;

}