.tp{
	font-style: bold;
	font-size: 50px; 

}
.tp p{
	background-color: #557ba2;
}
.tp p:hover{
	transform: scale(1.5);
	transition: 5s;
	transform: skew(10deg, 10deg)
}
.tp h2{
	font-style: italic;
	font-size: 90px;
	background-color: #abc349;
	margin-left: 30%;
}
.tp h1{
		font-style: italic;
	    font-size: 90px;
	    background-color: #ef7390;

}
.gg{
	margin-left: 25%;
	margin-right: 25%;
}
