body{
	margin: 0;
	padding: 0;
}
.home{
	width: 100%;
	height: 50%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.about{
	width: 100%;
	height: 300px;
	background-image: url(pp.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.text{
	font-style: 35px;
	color: #fff;
	font-family: sans-serif;
	text-shadow: 0px 15px 12px #000;
}
.line{
	width: 200px;
	height: 8px;
	background-color: #17ff8d;
	display: block;
	position: relative;
	left:0%;
	box-shadow: 0px 15px 12px 0px #000;
}


.paragraph h4{
	display: block;
	font-size: 30px;
	color: #dd2476;
	padding-left: 150px;
}
.kabita .row h1{
	font-size: 30px;
	padding-left: 100px;
	text-align: center;
}
.kabita .row h2{
	font-size: 30px;
}
.kabita .row h3{
	font-size: 30px;
}

