.kabita{
	font-style: bold;
	font-size: 30px;
	margin-bottom: 50px;
	margin-left: 50px;

}
.kab{
	text-align: justify;
	padding-left: 30px;
	
}
.img-rounded{
	height: 100%;
	width: 100%;
	display: block;
	margin-left:0%;
	margin-right: auto;
}
.kabi{
	text-align: justify;
	padding-left:30px;

}


