.parentbox{
	width: 10%;
}
.hh{
	padding-left: 25%;
	padding-right: 25%;
	height: 50%;
	width: 50%;
}
	.event{
	background-color: red;
	font-size:70px;
	padding: 2px;
}
.event:hover{
	background-color: green;
	font-size: 50px;
	padding: 20px;
	padding-right: 25%;
	padding-left:25%;
	
}

.transform:hover{
	transform: translate(50px,50px);
}
.kk{
	font-style: italic;
	font-size: 60px;
	padding-left: 70px;
}
.kk:hover{
	font-style: bold;
	font-size: 60px;
	padding-right: 70px;
	background-color: pink;
	transform:scaleX(1.5);
	transform: skew(10deg,10deg);
}
input:focus{
	background-color: red;
}
