*{
	margin: o;
	padding: 0;
}
h1{
	text-align: center;
	padding: 20px;
	margin-right: 10px;
}
h2{
	text-align: center;
	padding: 20px;
}
.register{
	background:  #2d85b0;
	margin-left: 50px;
	width: 500px;
	margin: 0px 0px 0px 430px;
	color: white;
	font-size: 18px;
	padding: 35px;
	border-radius: 10px;
}
#register{
	margin-left: 45px;
}
label{
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	font-style: italic;
}