ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
    border-right:1px solid #ddd;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.kabitaactive) {
  background-color:#f2f2f2;
}

.kabitaactive {
  background-color: #4CAF50;
}
.kabitasearch{
  float: right;
      margin-top: 8px;
    margin-right: 10px;

}
.kabitaactive:hover{
  transform: skew(1deg,1deg);
  color: white;
  background-color:skyblue;
  font-style: bold;
  font-size: 14px;
  transform: scaleX(1.5);
  transform: translateX(2);
  transition: 1s;
}

