.image{
		height: 400px;
		width: 100%;
		position: absolute;
	}
	.kk{
		font-style: italic;
		font-size: 30px;
		position: fixed;
		margin-left: 800px;
		margin-top: 200px;
		color: red;
	}
	.lk{
		color: green;
		font-size: 50px;
		margin-bottom: 50%;
	}