.parent{
	width: 100%;
}
.kk{
	font-size: 10px;
	font-style: italic;
	background-color: red;
	text-align: center;
}
.pp{
	border-bottom: 1px solid black;
	background-color: green;
	font-size: 20px;
	text-align: center;
	font-style: italic;
	margin: 0px;
}
.pp p{
	margin: 0px;
}
.ppp{
	margin-bottom: 10px;
}
.pp:hover{
	transform: skew(1deg,1deg);
	color: white;
	background-color: yellow;
	font-style: bold;
	font-size: 40px;
	transform: scaleX(1.5);
	transform: translateX(2);
	transition: 1s;

}
.pp:	