#name{
background: red;
margin-left: 10px;



}

#object{
	margin-left: 50px;
	height: 200px;
	width: 200px;
    background-color: red;
    font-size: 10px;
    }
    p  { color: blue;
}
    h1  { color: green;
    }
    

