/*Google Font*/
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap');
*{
	box-sizing: border-box;
}

header,
section{
	overflow-x: hidden;
}

:root{
	--Snigle-font:"Sniglet",cursive;
	--Rubik:"Rubik",cursive;
	--Patua:"Patua One",cursive;
	--Lobster:"Lobster",cursive;
	--light-black:#2e2c2caf;
	--bggradient:linear-gradient(to bottom,
		#dd2476,#ff512f);
	--light-gray:rgba(255,255,255,0);

}

.header a{
	font-family: var(--Snigle-font);
	font-size: 0.9em;
	color: whitesmoke;
}
header{
	background: #dd2476;
	background:var(--bggradient);
}

.dropdown-content{
	display: none;
	position: absolute;
	background: white;
	min-width: 160px;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover{
	background: #ddd;
}

.dropdown:hover .dropdown-content{
	display: block;
}

header .nav-item:last-child{
	padding-right: 10.5em;
}

header .nav-item{
	padding: 0.9em;
}

header .navbar-brand{
	padding-left: 8rem;
}

header .nav-link:hover{
	color: black;
	padding-left: 15px;
}

header .row .col-md-5{
	padding: 4.2vmin 1vmin;
}

header .row .col-md-7{
	padding: 22vmin 1vmin;
	padding-bottom: 35vmin;
	font-family: var(--Rubik);
	color: white;

}

header .row .col-md-5 img{
	width: 90%;
}

header .container .col-md-7 h6{
	padding: 1vmin;
	letter-spacing: 4px;
}

header .container .col-md-7 h1{
	font-size: 8vmin;
	font-weight: bold;
	padding: 0.1em 0em;
}

header .container .col-md-7 9{
	padding: 1vmin 5vmin;
}

header .container .col-md-7 button{
	border-radius: 30px;
	font-weight: bold;
}

/*section1*/

.section-1{
	padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img{
	opacity: 0.8;
	width: 80%;
	border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child{
	position: relative;
}

.section-1 .row .col-md-6 .panel{
	position: absolute;
	top: 7vmin;
	left: -18vmin;
	background: white;
	border-radius: 3px;
	text-align: left;
	padding: 13vmin 5vmin 20vmin 10vmin;
	box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
	font-family: var(--Rubik);
	z-index: 1;
}

.section-1 .row .col-md-6 .panel h1{
	font-weight: bold;
	padding: 0.4em 0;
	font-size: 2em;
}

.section-1 .row .col-md-6 .panel p{
	font-size: 0.9em;
	color: rgba(0,0,0,0.5);
}

/* section2 */
.cover{
	width: 100%;
	height: 55vmin;
	background: url('nature2.jpg');
	background-position: -24rem -19rem;
	background-size: 150%;
	position: relative;
}

.cover .content{
	background: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	padding-top: 19vmin;

}

.cover .content>h1{
	font-family: var(--Patua);
	font-size: 6vmin;
	color: whitesmoke;
}

.cover .content>p{
	font-family: var(--Rubik);
	font-size: 2vmin;
	color: #e5e5e5;
}

.numbers .rect{
	position: relative;
	z-index: 1;
	background: white;
	width: 14rem;
	height: 8rem;
	padding-top: 3.5vmin;
	margin: 1rem;
	border-radius: 3em;
	box-shadow: 1px 2px 50px 0px rgba(255,0,0,0.349);

}

.numbers{
	margin-top: -15vmin;
}

.numbers .rect h1{
	font-size: 3rem;
	color: tomato;
}

.numbers .rect p{
	font-family: var(--Patua);
}


.purchase >h1{
	padding-top: 15vmin;
	padding-bottom: 0.1em;
	font-family: var(--Lobster);
}
.purchase >p{
	color: var(--light-black);
	font-size: 3vmin;
	padding-bottom: 10vmin;
}
.purchase .cards .card{
	width: 22rem;
	margin: 3vmin;
	border: 1px dotted;
}
.cards div{
	padding: 0;
	margin: 0;
}
.cards .title{
	background: rgba(0,0,0,0.2);
	padding: 1.4rem 2.5rem;
	font-size: 2vmin;

}
.card .card-text{
	padding: 2.5rem 3rem;
	color: var(--light-black);
}
.card-body .pricing{
	background: rgba(0,0,0,0.2);
	border-top-right-radius: 170px;
	border-top-left-radius: 170px;
}
.card-body .pricing>h1{
	font-size: 10vmin;
	padding: 1em 0.5em;
}

/* section-3 */

.section-3{
	height: 70vmin;
	margin-top: 15vmin;
	background: var(--bggradient);
}

.section-3 .col-md-12>h1{
	padding: 2em 0 0.5em 0;
	color: whitesmoke;
	font-size: 6vmin;
}

.section-3 .col-md-12 >p{
	padding: 0 4em;
	padding-bottom: 2em;
	color: var(--light-gray);
	font-size: 3vmin;
}
 .section-3 .desktop{
 	background: white;
 	display: inline-block;
 	border-radius: 3em;
 	padding: 2vmin 4.5vmin;
 	margin: 1em;
 }

 .section-3 .desktop h3{
 	font-size: 4vmin;
 }

 .section-3 .desktop p{
 	font-size: 2vmin;
 }

 /*section4*/

 .section-4 .container h1{
 	font-size: 6vmin;
 	padding-top: 14vmin;
 }
 .section-4 .team{
 	padding: 10vmin 4vmin;
 }
 .section-4 .card{
 	width: 22rem;
 	margin-top: 10vmin;
 }
 .section-4 .card .card-text{
 	padding: 0.5em;
 }
 .section-4 .card .card-body >a {
 	font-size: 1.5em;
 }
 .section-4 .carousel-item{
 	padding-left: 3rem;
 }
 .border-radious{
 	border-radius: 340px;
 	width: 60%;
 }

 /* footer */
 footer{
 	background: rgba(0,0,0,0.815);
 	overflow-x: hidden;
 	padding: 14vmin 18vmin;
 }
 footer p>span{
 	color: #ff512f;
 }
 footer input{
 	border: none !important;
 }
 footer input::placeholder{
 	color: white !important;
 }
 footer .input-group .input-group-text{
 	background: var(--bggradient);
 	border: none;
 }
 footer .column i{
 	color: #dd2476;
 }
 footer .column i+i{
 	padding: 0 0.5em;
 }
 body{
	margin: 0;
	padding: 0;
}
.home{
	width: 100%;
	height: 50%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.about{
	width: 100%;
	height: 300px;
	background-image: url(pp.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.text{
	font-style: 35px;
	color: #fff;
	font-family: sans-serif;
	text-shadow: 0px 15px 12px #000;
}
.line{
	width: 200px;
	height: 8px;
	background-color: #17ff8d;
	display: block;
	position: relative;
	left:0%;
	box-shadow: 0px 15px 12px 0px #000;
}
.kabita{
	background-color:rgba(0,0,0,0.5);
}
.paragraph{
	margin-top: 80px;
	padding-right:40px; 
}
.paragraph h4{
	display: block;
	font-size: 30px;
	color:#dd2476;;
	padding-left: 150px;
}
.paragraph p{
	margin-left: 40px;
}
.kabita .row h1{
	font-size: 30px;
	text-align: center;
}
.kabita .row h2{
	font-size: 30px;
	text-align: center;
}
.kabita .row h3{
	font-size: 30px;
	text-align: center;
}