/*Google Font*/
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap');
*{
    box-sizing: border-box;
}

header,
section{
    overflow-x: hidden;
}

:root{
    --Snigle-font:"Sniglet",cursive;
    --Rubik:"Rubik",cursive;
    --Patua:"Patua One",cursive;
    --Lobster:"Lobster",cursive;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(to bottom,
        #dd2476,#ff512f);
    --light-gray:rgba(255,255,255,0);

}

a {
   
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    font-style: initial;
    font-weight: bold;
}
.header a{
    font-family: var(--Snigle-font);
   
    color: whitesmoke;
}
header{
    background: #dd2476;
    background:var(--bggradient);
}



header .nav-item:last-child{
    padding-right: 10.5em;
}

header .nav-item{
    padding: 0.9em;
}

header .navbar-brand{
    padding-left: 8rem;
}

header .nav-link:hover{
    
    padding-left: 15px;
    font-size: 30px;

}

header .row .col-md-5{
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Rubik);
    color: white;

}

header .row .col-md-5 img{
    width: 90%;
}

header .container .col-md-7 h6{
    padding: 1vmin;
    letter-spacing: 4px;
    font-size: 13px;
}

header .container .col-md-7 h1{
    font-size: 10vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 9{
    padding: 1vmin 5vmin;
}

header .container .col-md-7 button{
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;

}
/*section1*/

.section-1{
    padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child{
    position: relative;
}

.section-1 .row .col-md-6 .panel{
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p{
    font-size:  -13.1em;
    color: rgba(0,0,0,0.5);

}

/* section2 */
.cover{
    width: 100%;
    height: 55vmin;
    background: url('nature2.jpg');
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .content{
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;

}

.cover .content>h1{
    font-family: var(--Patua);
    font-size: 7vmin;
    color: whitesmoke;
}

.cover .content>p{
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect{
    position: relative;
    z-index: 0.5;
    background: white;
    width: 14rem;
    height: 7.5rem;
    margin: 0.5rem;
    border-radius: 3em;
    box-shadow: 1px 2px 50px 0px rgba(255,0,0,0.349);

}

.numbers{
    margin-top: -15vmin;
}

.numbers .rect h1{
    font-size: 3rem;
    color: tomato;
}

.numbers .rect p{
    font-family: var(--Patua);
}

.purchase >h1{
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}
.purchase >p{
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}
.purchase .cards .card{
    width: 25rem;
    margin: 3vmin;
    border: 1px dotted;

}
.cards div{
    padding: 0;
    margin: 0;
}
.cards .title{
    background: rgba(0,0,0,0.2);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;

}
.card .card-text{
    padding: 2.5rem 3rem;
    color: var(--light-black);
}
.card-body .pricing{
    background: rgba(0,0,0,0.2);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}
.card-body .pricing>h1{
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/* section-3 */

.section-3{
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-3 .col-md-12>h1{
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12 >p{
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}
 .section-3 .desktop{
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
 }

 .section-3 .desktop h3{
    font-size: 4vmin;
 }

 .section-3 .desktop p{
    font-size: 2vmin;
 }

 /*section4*/

 .section-4 .container h1{
    font-size: 6vmin;
    padding-top: 14vmin;
 }
 .section-4 .team{
    padding: 10vmin 4vmin;
 }
 .section-4 .card{
    width: 29rem;
    margin-top: 10vmin;
    height: 670px;
 }
 .section-4 .card .card-text{
    padding: 0.5em;
 }
 .section-4 .card .card-body >a {
    font-size: 1.5em;
 }
 .section-4 .carousel-item{
    padding-left: 3rem;
 }
 .border-radious{
    border-radius: 340px;
    width: 60%;
 }

 /* footer */
 footer{
    background: rgba(0,0,0,0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
 }
 footer p>span{
    color: #ff512f;
 }
 footer input{
    border: none !important;
     margin-right: 0px;
 }

 footer input::placeholder{
    color: white !important;

 }
 footer .input-group .input-group-text{
    background: var(--bggradient);
    border: none;
     margin-right: 0px;
 }
 footer .column i{
    color: #dd2476;
 }
 footer .column i+i{
    padding: 0 0.5em;
 }



.container_a{
  position: relative;
  width: 50%;
}

.image_a {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_a {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container_a:hover .overlay_a {
  bottom: 0;
  height: 100%;
}

.text_a {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




.input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input[type=submit]:hover {
    background-color: #45a049;
}

.container_b {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 100%;
}

.tittle {
  color: grey;
  font-size: 18px;
  padding-right: 10px;
  padding-left: 10px;
}


.a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding-top: 20px;
}

.card img{
    opacity: 0.7;
}

.card img:hover{
  opacity: 1;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact{
    padding: 30px; 
    font-size: 50px;

}
.c{
    width: 110px;
    height: 90px;
}

.c1{

    font-size: 25px;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .2em;
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    padding: 20px;
}

.c2{
    padding: 10px;
    color: grey;
    font-style: bold;
    font-size: 20px;
}

.c3{
    background-color: white;
    width: 25%;
    margin-bottom: 60px;
}

.c4{
    color: black;
}

.maincontact{
    background-color: lightgrey;
}





body{
  
    background: -webkit-linear-gradient(left, #898e94, #dff0f5);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}







.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6c757d;
}

.overlay:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.happyclient{
    margin-right: 0px;
    margin-left: 0px;
}

.logo{
    padding-top: 50px;
    padding-bottom: 30px;
}

.logo1{
    width: 100%;
    padding: 30px;
     opacity: 0.7;
}

.logo2{
    width: 100%;
    padding: 30px;
     opacity: 0.7;
}

.logo1:hover{
     opacity: 1;
     transform: skew(1deg, 1deg);

}

.logo2:hover{
     opacity: 1;
      transform: skew(1deg, 1deg);
}